:root {
  --light-gray-color: #757575;
  --dark-gray-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto;
}
a {
  text-decoration: none;
}

.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--dark-gray-color);
}
.logo .web {
  color: var(--blue-color);
}
.nav-list .link {
  color: var(--dark-gray-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--blue-color);
}
